@using PolarisContacts.Domain
@model PolarisContacts.Domain.Celular

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalEditCelularLabel" aria-hidden="true" id="modal-edit-celular">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title custom-modal-title" id="modalEditCelularLabel">Editar Celular</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body custom-modal-body">
                <p id="confirmUpdateMessage">Tem certeza que deseja alterar este celular?</p>
                <p id="updateSuccessMessage" style="display:none;">Alterado com sucesso!</p>
                <div id="celularFormContainer">
                    @using (Html.BeginForm("UpdateCelular", "Celular", FormMethod.Post, new { id = "CelularForm" }))
                    {
                        @Html.HiddenFor(e => e.Id)
                        <div class="row g-3">
                            <div class="col-md-6">
                                @Html.HiddenFor(e => e.IdRegiao, new { id = "HiddenIdRegiao" })
                                <label for="IdRegiao" class="form-label">Região:</label>
                                <select class="form-control" id="IdRegiao" onchange="updateDDD(this, 'DDD_Celular')">
                                    <option value="">Selecione uma região</option>
                                    @{
                                        IEnumerable<Regiao> regioes = ViewBag.Regioes;

                                        foreach (var regiao in regioes)
                                        {
                                            <option value="@regiao.Id" data-ddd="@regiao.DDD">@regiao.NomeRegiao</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="NumeroCelular" class="form-label">Celular:</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="DDD_Celular">(@Model.Regiao?.DDD)</span>
                                    @Html.TextBoxFor(e => e.NumeroCelular, new { @class = "form-control celular-mask", id = "NumeroCelular" })
                                </div>
                            </div>
                        </div>
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.celular-mask').mask('00000-0000');
    });

    function updateDDD(element, dddElementId) {
        const selectedOption = $(element).find('option:selected');
        const ddd = selectedOption.data('ddd');

        $('#HiddenIdRegiao').val(selectedOption.val());
        $(`#${dddElementId}`).text(`(${ddd})`);
    }

    $(document).on('submit', '#CelularForm', function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                    $('#confirmUpdateMessage').hide();
                    $('#celularFormContainer').hide();
                    $('#updateSuccessMessage').text(response.message).show();
                    $('#confirmDeleteButton').prop('disabled', true);
                    $('#cancelButton').prop('disabled', true);
                    setTimeout(() => {
                        location.reload(); // Recarrega a página para atualizar a lista
                    }, 2000);
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert('Erro ao atualizar o celular. Tente novamente.');
            }
        });
    });

    function ModalEditCelular(idCelular) {
        $.ajax({
            type: "GET",
            url: "/Celular/ModalEditCelular",
            data: { idCelular: idCelular },
            success: function (data) {
                $("#modal-edit-celular .modal-content").html(data);
                var myModal = new bootstrap.Modal(document.getElementById('modal-edit-celular'));
                myModal.show();
            },
            error: function () {
                alert('Erro ao carregar os dados do celular. Tente novamente.');
            }
        });
    }
</script>
