@using PolarisContacts.Domain
@model PolarisContacts.Domain.Telefone

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-telefone" aria-hidden="true" id="modal-edit-telefone">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-telefone">Editar Telefone</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="updateSuccessMessage" style="display:none;">Alterado com sucesso!</p>
                
@*                 <button class="btn btn-danger btn-sm" onclick="confirmDeleteItem(@Model.Id, 'Telefone')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                </button> *@

                <br />

                <div id="telefoneFormContainer">
                    @using (Html.BeginForm("UpdateTelefone", "Telefone", FormMethod.Post, new { id = "TelefoneForm" }))
                    {
                        @Html.HiddenFor(e => e.Id)
                        <div class="row g-3">
                            <div class="col-md-6">
                                @Html.HiddenFor(e => e.IdRegiao, new { id = "HiddenIdRegiao" })
                                <label for="Telefone__IdRegiao" class="form-label">Região:</label>
                                <select class="form-control" id="Telefone__IdRegiao" onchange="updateDDD(this, 'DDD_Telefone')">
                                    <option value="">Selecione uma região</option>
                                    @{
                                        IEnumerable<Regiao> regioes = ViewBag.Regioes;

                                        foreach (var regiao in regioes)
                                        {
                                            <option value="@regiao.Id" data-ddd="@regiao.DDD">@regiao.NomeRegiao</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="NumeroTelefone" class="form-label">Telefone:</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="DDD_Telefone">(@Model.Regiao?.DDD)</span>
                                    @Html.TextBoxFor(e => e.NumeroTelefone, new { @class = "form-control telefone-mask", id = "NumeroTelefone" })
                                </div>
                            </div>
                        </div>
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.telefone-mask').mask('0000-0000');
    });

    function updateDDD(element, dddElementId) {
        const selectedOption = $(element).find('option:selected');
        const ddd = selectedOption.data('ddd');
        
        $('#HiddenIdRegiao').val(selectedOption.val());
        $(`#${dddElementId}`).text(`(${ddd})`);
    }

    $(document).on('submit', '#TelefoneForm', function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                    $('#confirmUpdateMessage').hide();
                    $('#telefoneFormContainer').hide();
                    $('#updateSuccessMessage').text(response.message).show();
                    $('#confirmDeleteButton').prop('disabled', true);
                    $('#cancelButton').prop('disabled', true);
                    setTimeout(() => {
                        location.reload(); // Recarrega a página para atualizar a lista
                    }, 2000);
                } else {
                    alert(response.message);
                }
            },
            error: function () {
                alert('Erro ao atualizar o telefone. Tente novamente.');
            }
        });
    });

</script>
